<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kinnon.mapper.DiscussPostMapper">

    <resultMap id="BaseResultMap" type="com.kinnon.domain.DiscussPost">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
            <result property="score" column="score" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,title,
        content,type,status,
        create_time,comment_count,score
    </sql>
    <sql id="Base_Column_List2">
        user_id,title,
        content,type,status,
        create_time,comment_count,score
    </sql>

    <insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
        insert into discuss_post( <include refid="Base_Column_List2"></include>)
        values(#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <update id="updateDiscussPostCommetnCount">
        update discuss_post set comment_count = #{count} where id = #{discussPostId}
    </update>


    <select id="selectDisCussPosts" resultType="DiscussPost">
        select <include refid="Base_Column_List"></include>
        from discuss_post where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>
        <if test="orderMode==0">
            order by type desc ,create_time desc
        </if>
        <if test="orderMode==1">
            order by type desc ,score desc,create_time desc
        </if>
        limit #{offset},#{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post where status != 2
        <if test="userId != 0">
            and user_id = #{userId}
        </if>

    </select>
    <select id="selectCommentCount" resultType="java.lang.Integer">
        select comment_count from discuss_post where id = #{discussPostId}
    </select>

    <update id="updateTypeById">
        update discuss_post
        set type = #{type,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>

    <update id="updateStatusById">
        update discuss_post
        set status = #{status,jdbcType=NUMERIC}
        where id = #{id,jdbcType=NUMERIC}
    </update>


</mapper>
